{
  // Default options
  'classes': true
}

{{#items}}
  {{#options.classes}}
    {{options.target}}-{{name}} {
      background-image: url({{{escaped_image}}});
      background-position: {{px.offset_x}} {{px.offset_y}};
      width: {{px.width}};
      height: {{px.height}};
    }
  {{/options.classes}}
{{/items}}